<div class="container">
  <h1>Your QR Codes</h1>

  <div class="search">
    <input type="text" placeholder="Search for QR codes" />
    <svg
      width="36"
      height="36"
      viewBox="0 0 48 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M31 28H29.42L28.86 27.46C30.82 25.18 32 22.22 32 19C32 11.82 26.18 6 19 6C11.82 6 6 11.82 6 19C6 26.18 11.82 32 19 32C22.22 32 25.18 30.82 27.46 28.86L28 29.42V31L36.5085 39.4915C37.3325 40.3138 38.6669 40.3131 39.49 39.49V39.49C40.3131 38.6669 40.3138 37.3325 39.4915 36.5085L31 28ZM19 28C14.02 28 10 23.98 10 19C10 14.02 14.02 10 19 10C23.98 10 28 14.02 28 19C28 23.98 23.98 28 19 28Z"
        fill="#0A2239"
      />
      <rect
        x="25"
        y="27.9891"
        width="4.22717"
        height="16.5325"
        rx="2.11358"
        transform="rotate(-45 25 27.9891)"
        fill="#0A2239"
      />
    </svg>
  </div>

  <div class="code_list">
    <div class="code_item">
      <img src="/assets/img/qr_test.png" alt="" />
      <ul>
        <li><span>Type:</span> Website</li>
        <li><span>URL:</span> home.rog</li>
      </ul>
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#ffffff"
        >
          <g><rect fill="none" height="24" width="24" /></g>
          <g>
            <g>
              <polygon points="15,16 11,20 21,20 21,16" />
              <path
                d="M12.06,7.19L3,16.25V20h3.75l9.06-9.06L12.06,7.19z M5.92,18H5v-0.92l7.06-7.06l0.92,0.92L5.92,18z"
              />
              <path
                d="M18.71,8.04c0.39-0.39,0.39-1.02,0-1.41l-2.34-2.34C16.17,4.09,15.92,4,15.66,4c-0.25,0-0.51,0.1-0.7,0.29l-1.83,1.83 l3.75,3.75L18.71,8.04z"
              />
            </g>
          </g>
        </svg>
      </button>
    </div>
    <div class="code_item">
      <img src="/assets/img/qr_test.png" alt="" />
      <ul>
        <li><span>Type:</span> Website</li>
        <li><span>URL:</span> home.rog</li>
      </ul>
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#ffffff"
        >
          <g><rect fill="none" height="24" width="24" /></g>
          <g>
            <g>
              <polygon points="15,16 11,20 21,20 21,16" />
              <path
                d="M12.06,7.19L3,16.25V20h3.75l9.06-9.06L12.06,7.19z M5.92,18H5v-0.92l7.06-7.06l0.92,0.92L5.92,18z"
              />
              <path
                d="M18.71,8.04c0.39-0.39,0.39-1.02,0-1.41l-2.34-2.34C16.17,4.09,15.92,4,15.66,4c-0.25,0-0.51,0.1-0.7,0.29l-1.83,1.83 l3.75,3.75L18.71,8.04z"
              />
            </g>
          </g>
        </svg>
      </button>
    </div>
    <div class="code_item">
      <img src="/assets/img/qr_test.png" alt="" />
      <ul>
        <li><span>Type:</span> Website</li>
        <li><span>URL:</span> home.rog</li>
      </ul>
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#ffffff"
        >
          <g><rect fill="none" height="24" width="24" /></g>
          <g>
            <g>
              <polygon points="15,16 11,20 21,20 21,16" />
              <path
                d="M12.06,7.19L3,16.25V20h3.75l9.06-9.06L12.06,7.19z M5.92,18H5v-0.92l7.06-7.06l0.92,0.92L5.92,18z"
              />
              <path
                d="M18.71,8.04c0.39-0.39,0.39-1.02,0-1.41l-2.34-2.34C16.17,4.09,15.92,4,15.66,4c-0.25,0-0.51,0.1-0.7,0.29l-1.83,1.83 l3.75,3.75L18.71,8.04z"
              />
            </g>
          </g>
        </svg>
      </button>
    </div>
    <div class="code_item">
      <img src="/assets/img/qr_test.png" alt="" />
      <ul>
        <li><span>Type:</span> Website</li>
        <li><span>URL:</span> home.rog</li>
      </ul>
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#ffffff"
        >
          <g><rect fill="none" height="24" width="24" /></g>
          <g>
            <g>
              <polygon points="15,16 11,20 21,20 21,16" />
              <path
                d="M12.06,7.19L3,16.25V20h3.75l9.06-9.06L12.06,7.19z M5.92,18H5v-0.92l7.06-7.06l0.92,0.92L5.92,18z"
              />
              <path
                d="M18.71,8.04c0.39-0.39,0.39-1.02,0-1.41l-2.34-2.34C16.17,4.09,15.92,4,15.66,4c-0.25,0-0.51,0.1-0.7,0.29l-1.83,1.83 l3.75,3.75L18.71,8.04z"
              />
            </g>
          </g>
        </svg>
      </button>
    </div>
    <div class="code_item">
      <img src="/assets/img/qr_test.png" alt="" />
      <ul>
        <li><span>Type:</span> Website</li>
        <li><span>URL:</span> home.rog</li>
      </ul>
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#ffffff"
        >
          <g><rect fill="none" height="24" width="24" /></g>
          <g>
            <g>
              <polygon points="15,16 11,20 21,20 21,16" />
              <path
                d="M12.06,7.19L3,16.25V20h3.75l9.06-9.06L12.06,7.19z M5.92,18H5v-0.92l7.06-7.06l0.92,0.92L5.92,18z"
              />
              <path
                d="M18.71,8.04c0.39-0.39,0.39-1.02,0-1.41l-2.34-2.34C16.17,4.09,15.92,4,15.66,4c-0.25,0-0.51,0.1-0.7,0.29l-1.83,1.83 l3.75,3.75L18.71,8.04z"
              />
            </g>
          </g>
        </svg>
      </button>
    </div>
    <div class="code_item">
      <img src="/assets/img/qr_test.png" alt="" />
      <ul>
        <li><span>Type:</span> Website</li>
        <li><span>URL:</span> home.rog</li>
      </ul>
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#ffffff"
        >
          <g><rect fill="none" height="24" width="24" /></g>
          <g>
            <g>
              <polygon points="15,16 11,20 21,20 21,16" />
              <path
                d="M12.06,7.19L3,16.25V20h3.75l9.06-9.06L12.06,7.19z M5.92,18H5v-0.92l7.06-7.06l0.92,0.92L5.92,18z"
              />
              <path
                d="M18.71,8.04c0.39-0.39,0.39-1.02,0-1.41l-2.34-2.34C16.17,4.09,15.92,4,15.66,4c-0.25,0-0.51,0.1-0.7,0.29l-1.83,1.83 l3.75,3.75L18.71,8.04z"
              />
            </g>
          </g>
        </svg>
      </button>
    </div>
  </div>
</div>
